<div class = "row">
    <div class = "col-md-6">
      <%= simple_form_for @person do |f| %>
        <%= f.input :identificacion %>
        <%= f.input :nombre %>
        <%= f.input :apellido %>
        <%= f.input :correo %>
        <%= f.input :telefono %>
        <%= f.input :avatar %>

        <%= f.button :submit %>
     <% end %>
    </div>
</div>