<tr>
   <th scope = "row" ><%= person.id %></th>
   <td><%= link_to person.identificacion, person_path(person) %></td>
   <td><%= person.nombre %></td>
   <td><%= person.apellido %></td>
   <td><%= person.correo %></td>
   <td><%= person.telefono %></td>
</tr>